<h1>Coach Stupido Here to Answer All your Questions</h1>
<h3>What questions do you have for Coach?</h3>

<form class="box" action="/answer" method="get">
  <input class="box" type="text" name="question" placeholder="Your question here">
  <input class ="btn" type="submit" value="Ask">
</form>
